.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    img.logo {
        max-width: 50%;
        margin: 0 auto;
    }

    p.version {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 5rem;
        font-size: 1rem;
        color: var(--ion-color-primary);
    }
}