ion-content {
    background-color: var(--ion-color-primary);
}

.background-image {
    background-image: url('../../assets/splashscreen.png');
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
    padding: 2rem;
}

h1, p {
    color: var(--ion-color-primary-contrast);
    margin-bottom: 1rem;
    line-height: 1.1;
    text-align: left;
}

h1 {
    font-size: 2.2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}

ion-button {
    --background: var(--ion-color-primary-contrast);
    --border-radius: 14px;
    --box-shadow: none; 
    --color: var(--ion-color-primary);
    --padding-end: 40px;
    --padding-start: 40px;
    width: 80%;
    text-transform: uppercase;
    font-size: 1.1rem;
    position: absolute;
    bottom: 5rem;
    letter-spacing: -.5px;
}
  