<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        All Messages
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="delete">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item class="promo">
      <ion-button shape="circle">
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
      <div class="info">
        <ion-label class="title">
          Special For You, Jason
        </ion-label>
        <ion-label class="ion-text-wrap text">
          <p>We have recommend some projects you might interested</p>
        </ion-label>
        <ion-label class="time">
          19 hours ago
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
  <div class="promo-item">
    <div class="img">
      <ion-img src="../../assets/promo-item.png"></ion-img>
    </div>
    <div class="btn">
      <ion-button expand="block" fill="outline">Apply Now!</ion-button>
    </div>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="../../assets/avatar-1.png" />
      </ion-avatar>
      <div class="info">
        <ion-label class="title">
          Mary • Handy Sdn. Bhd.
        </ion-label>
        <ion-label class="text">
          <p>Dear Jason, thank you for applying the project to c...</p>
        </ion-label>
        <ion-label class="time">
          8:40PM
        </ion-label>
      </div>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="../../assets/avatar-2.png" />
      </ion-avatar>
      <div class="info">
        <ion-label class="title">
          Minna • TechVista 
        </ion-label>
        <ion-label class="text">
          <p>Hi, we have currently reviewing your eligibility before...</p>
        </ion-label>
        <ion-label class="time">
          Yesterday 6.24pm
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
